<!doctype html>
<html>
<head>
  <title>Info</title>
  <link rel="stylesheet" href="assets/main.css"/>
  <script src="assets/javascripts/jquery.min.js"></script>
  <script src="assets/javascripts/mustache.min.js"></script>
  <script src="assets/index.js"></script>
</head>

  <body>
    <header>
      <% include partials/nav.ejs %>
    </header>

    <div id="everything">
      <div id="currentCatagory"></div>
      <div id="info"></div>
    </div>

    <footer>
      <h3>©My Site 2019</h3>
    </footer>
  </body>
</html>
